load_module /usr/lib/nginx/modules/ngx_stream_module.so;

worker_processes 4;
worker_rlimit_nofile 40000;

events {
    worker_connections 8192;
}

stream {
    upstream rancher_servers_http {
        least_conn;
        server 127.0.0.1:80 max_fails=3 fail_timeout=5s;
    }
    server {
        listen 80;
        proxy_pass rancher_servers_http;
    }

}

http {
    upstream rancher_servers_https {
        least_conn;
        server 127.0.0.1:8080 max_fails=3 fail_timeout=5s;
    }
    server {
        listen 443 ssl;
        ssl_certificate {{ public_key }};
        ssl_certificate_key {{ private_key }};
        location / {
            proxy_pass https://rancher_servers_https;
            proxy_set_header Host rancher.homelab.local; # DNS for server
            proxy_ssl_server_name on;
            proxy_ssl_name rancher.homelab.local; # DNS for server
        }
    }
}