server {
	listen 443 ssl;
	listen [::]:443 ssl;

	server_name rancher.homelab.local;

    ssl_certificate         /etc/nginx/tls.crt;
    ssl_certificate_key     /etc/nginx/tls.key; 
    ssl_client_certificate  /etc/nginx/ca.crt; 

	location / {
        proxy_pass	http://127.0.0.1:8443;
	}
}